.transactions {
  &__table {
    @apply rounded-lg;

    border: rem(1) solid $light-gray;

    &__item {
      @apply px-4 py-3 bg-white;

      &__category,
      &__type,
      &__status,
      &__amount {
        @apply grid grid-cols-[60px_auto] items-center gap-3 lg:grid-cols-1;
      }

      &__transaction {
        @apply grid grid-rows-2 grid-cols-[60px_1fr];

        &__img {
          @apply row-start-1 row-end-3 h-12 w-12;
        }

        &__name {
          @apply font-semibold;
        }

        &__bank {
          color: $gray;
        }
      }

      &__category {
        &__name {
          @apply font-medium;
        }

        &__type {
          color: $gray;
        }
      }

      &__type {
        p {
          color: $main-color;
        }

        color: $gray;
      }

      &__status {
        &__info {
          @apply px-3 py-0.5 w-min h-min rounded-full font-medium;

          &--paid {
            @apply bg-green-100 text-green-600;
          }

          &--pending {
            @apply bg-yellow-100  text-yellow-600;

            // background: #CCA879;
          }

          &--rejected {
            @apply bg-red-100 text-red-600;
          }
        }
      }

      &__amount {
        &__info {
          @apply px-3 py-0.5 w-min h-min rounded-lg bg-blue-100 text-blue-600;

          &--pending {
            @apply bg-yellow-100 text-yellow-600;
          }

          &--rejected {
            @apply bg-red-100 text-red-600;
          }
        }
      }

      &__media {
        @apply lg:hidden;
      }

      &__button {
        @apply lg:bg-transparent
        text-blue-600 bg-blue-300  p-1.5 rounded-lg;

        transition: opacity 0.3s ease 0s;

        &:hover {
          @apply opacity-50;
        }
      }
    }
  }
}
