.transactions {
  &__table {
    @apply rounded-lg;

    border: rem(1) solid $light-gray;

    &__item {
      @apply bg-white px-5 py-3;

      &:last-child {
        @apply rounded-b-lg;
      }

      &__category,
      &__type,
      &__status,
      &__amount {
        @apply grid grid-cols-[60px_auto] items-center gap-3 lg:grid-cols-1;
      }

      &__transaction {
        @apply grid grid-rows-2 grid-cols-[60px_1fr];

        &__img {
          @apply row-start-1 row-end-3 h-12 w-12;
        }

        &__name {
          @apply font-semibold;
        }

        &__bank {
          color: $gray;
        }
      }

      &__category {
        &__name {
          @apply font-medium;
        }

        &__type {
          color: $gray;
        }
      }

      &__type {
        p {
          color: $main-color;
        }

        color: $gray;
      }

      &__status {
        &__info {
          @apply px-3 py-0.5 w-min h-min rounded-full font-medium;

          &--paid {
            color: $dark-green;
            background-color: $light-green;
          }

          &--pending {
            color: $dark-yellow;
            background-color: $light-yellow;
          }

          &--rejected {
            color: $dark-red;
            background-color: $light-red;
          }
        }
      }

      &__amount {
        &__info {
          @apply px-3 py-1 w-min h-min rounded font-medium;

          color: $dark-blue;
          background-color: $light-blue;

          &--pending {
            background-color: $light-yellow;
          }

          &--rejected {
            background-color: $light-red;
          }
        }
      }

      &__media {
        @apply lg:hidden;
      }

      &__button {
        color: $dark-blue;
        background-color: $light-blue;
        transition: opacity 0.3s ease 0s;

        @apply lg:bg-transparent p-2 rounded-lg;

        &:hover {
          @apply opacity-50;
        }
      }
    }
  }
}
