.category-cards {
  // .category-cards__items

  &__items {
    @apply grid text-sm;

    grid-template-columns: repeat(auto-fill, minmax(rem(290), 1fr));
    gap: em(15, 14) em(25, 14);
  }

  // .category-cards__item

  &__item {
    @apply flex justify-between;

    border-radius: em(4, 14);
    border: em(1, 14) solid $light-gray;
  }

  // .category-cards__image

  &__image {
    @apply flex justify-center items-center;

    flex-shrink: 0;
    width: em(66, 14);
    border-top-left-radius: em(4, 14);
    border-bottom-left-radius: em(4, 14);
    color: $main-bg;
  }

  // .category-cards__main

  &__main {
    @apply flex justify-between items-center flex-auto;

    gap: em(5, 14);
    padding: em(10, 14) em(15, 14);
  }

  // .category-cards__text

  &__text {
    @apply flex flex-col;
  }

  // .category-cards__name

  &__name {
    @apply font-semibold break-all;
  }

  // .category-cards__label

  &__label {
    @apply capitalize;

    color: $gray;
  }

  // .category-cards__more

  &__more {
    @apply items-center relative;

    gap: em(5, 18);

    // .category-cards__more_active

    &_active {
      .category-cards__sub-list {
        @apply visible opacity-100;

        transform: translate(0);
        pointer-events: all;
      }
    }
  }

  // .category-cards__img

  &__img {
    width: em(20, 14);
    height: em(20, 14);
    transition: opacity 0.3s ease 0s;

    &:hover {
      @apply opacity-50;
    }

    img {
      @apply w-full h-full;
    }
  }

  // .category-cards__sub-list

  &__sub-list {
    @apply absolute top-full right-0 z-10 invisible opacity-0 capitalize;

    transform: translate(10%, -10%);
    padding: em(10, 14) em(15, 14);
    border-radius: em(4, 14);
    box-shadow: 0 0 em(2, 14) $gray;
    background-color: $main-bg;
    transition: all 0.3s ease 0s;

    li {
      transition: opacity 0.3s ease 0s;

      &:hover {
        @apply opacity-50;
      }

      &:not(:last-child) {
        margin-bottom: em(5, 14);
      }
    }
  }
}
